div{
  margin: 0px;
}
.textcolor{
fill:blue;
}
.formclass{
  margin-left: 16px;
  margin-right: 4px;
  margin-right: 4px
}
.buttonclass{
  margin-top: 6px
}
.row1{
  margin-top: 1px;
}
#fileupload{
  background-color: azure
}
.upload{
  margin-right: 1px;
}
.main{
  text-align: center
}